<#include "../common/header.html">

<body class="skin-blue fixed sidebar-mini" style="height: auto; min-height: 100%;">
<div class="wrapper" style="height: auto; min-height: 100%;">
    <#assign page_tab="market">
    <#include "market_menu.html">

    <!--右侧内容 开始-->
    <div id="admin_right" class="content-wrapper">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="home-icon fa fa-home"></i>
                    <a href="#">营销</a>
                </li>
                <li>
                    <a href="#">促销活动管理</a>
                </li>
                <li class="active">促销活动列表</li>
            </ul>
        </div>
        <div class="content">
            <form method='post' action='/market/pro_rule_del'>
                <table class="table list-table">
                    <colgroup>
                        <col width="35px" />
                        <col width="160px" />
                        <col />
                        <col width="70px" />
                        <col width="230px" />
                        <col width="110px" />
                    </colgroup>
                    <caption>
                        <a class="btn btn-default" href="/market/pro_rule_edit">
                            <i class="fa fa-plus"></i>添加活动
                        </a>

                        <a class="btn btn-default" onclick="selectAll('id[]')">
                            <i class="fa fa-check"></i>全选
                        </a>

                        <a class="btn btn-default" onclick="delModel()">
                            <i class="fa fa-close"></i>批量删除
                        </a>
                    </caption>
                    <thead>
                    <tr>
                        <th></th>
                        <th>名称</th>
                        <th>活动时间</th>
                        <th>状态</th>
                        <th>介绍</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!--右侧内容 结束-->

    <!--顶部弹出菜单 开始-->
    <aside class="control-sidebar control-sidebar-dark">
        <ul class="control-sidebar-menu">
            <li><a href="/admin/logout"><i class="fa fa-circle-o text-red"></i> 退出管理</a></li>
            <li><a href="/system/admin_repwd"><i class="fa fa-circle-o text-yellow"></i> 修改密码</a></li>
            <li><a href="/system/default"><i class="fa fa-circle-o text-green"></i> 后台首页</a></li>
            <li><a href="/" target='_blank'><i class="fa fa-circle-o text-aqua"></i> 商城首页</a></li>
            <li><a href="/system/navigation"><i class="fa fa-circle-o"></i> 快速导航</a></li>
        </ul>
    </aside>
    <!--顶部弹出菜单 结束-->
</div>
</body>
</html>