<#include "../common/header.html">

<body class="skin-blue fixed sidebar-mini" style="height: auto; min-height: 100%;">
<div class="wrapper" style="height: auto; min-height: 100%;">
    <#assign page_tab="index">
    <#assign page_nav="basic">
    <#include "../common/system_menu.html">

    <!--右侧内容 开始-->
    <div id="admin_right" class="content-wrapper">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="home-icon fa fa-home"></i>
                    <a href="/system/index">系统</a>
                </li>
                <li>
                    <a href="/system/admin/admin_list">管理员列表</a>
                </li>
                <li class="active">管理员编辑</li>
            </ul>
        </div>
        <div class="content">
            <form action="/system/admin/password_update" method="post" name="admin_repwd" id="update" novalidate="true" onsubmit="return false;">
                <table class="table form-table">
                    <colgroup>
                        <col width="130px">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>当前密码：</th>
                            <td>
                                <input type="password" class="form-control invalid-text" name="old_password" id="old_password" pattern="^\w{6,32}$" alt="请填写英文字母，数字或下划线，在6-32个字符之间">
                                <p class="help-block">* 需要当前登录用户使用密码验证</p>
                            </td>
                        </tr>
                        <tr>
                            <th>密码：</th>
                            <td>
                                <input type="password" class="form-control invalid-text" name="password" id="password" pattern="^\w{6,32}$" alt="请填写英文字母，数字或下划线，在6-32个字符之间">
                                <p class="help-block">* 管理员登录后台的密码，请填写英文字母，数字或下划线，在6-32个字符之间</p>
                            </td>
                        </tr>
                        <tr>
                            <th>重复密码：</th>
                            <td>
                                <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" pattern="^\w{6,32}$" alt="重复输入管理员登录后台的密码" bind="password">
                                <p class="help-block">* 重复输入管理员登录后台的密码</p>
                            </td>
                        </tr>
                        <tr><td></td><td><button class="btn btn-primary" type="submit">保存</button></td></tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!--右侧内容 结束-->
</div>
<script type="text/javascript">seajs.use('user', function(user) {});</script>
</body>
</html>