<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>FlyCms开源问答管理系统</title>
	<meta name='keywords' content='问答系统,Java问答系统,FlyCms问答系统 ,Laravel问答系统,社区问答系统'>
	<meta name='description' content='FlyCms是基于Java开发问答管理系统'>
	<link rel="stylesheet" href="/assets/admin-lte/css/admin.css" />
	<link rel="stylesheet" href="/assets/js/vendors/bootstrap-switch/css/bootstrap-switch.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/js/vendors/artdialog/skins/aero.css" />
	<link rel="stylesheet" type="text/css" href="/assets/js/vendors/autovalidate/style.css" />
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js"></script>
	<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
	<meta name="robots" content="noindex,nofollow">
	<link rel="shortcut icon" href="/assets/favicon.ico" />
	<script type="text/javascript" charset="UTF-8" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" charset="UTF-8" src="/assets/js/vendors/artdialog/artDialog.js"></script>
	<script type="text/javascript" charset="UTF-8" src="/assets/js/vendors/artdialog/plugins/iframeTools.js"></script>
	<script type="text/javascript" charset="UTF-8" src="/assets/js/vendors/autovalidate/validate.js"></script>
	<script type="text/javascript" charset="UTF-8" src="/assets/js/vendors/artTemplate/artTemplate.js"></script>
	<script type="text/javascript" charset="UTF-8" src="/assets/js/vendors/artTemplate/artTemplate-plugin.js"></script>
	<script type='text/javascript' src="/assets/js/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script type='text/javascript' src="/assets/admin-lte/js/adminlte.min.js"></script>
	<script type="text/javascript" src="/assets/js/sea.js"></script>
	<script type="text/javascript" src="/assets/js/sea.config.js"></script>
</head>