<#include "../common/header.html">
<body class="skin-blue fixed sidebar-mini" style="height: auto; min-height: 100%;">
<div class="wrapper" style="height: auto; min-height: 100%;">
	<#assign page_tab="adminuser">
	<#assign page_nav="grouplist">
	<#include "../common/system_menu.html">

	<!--右侧内容 开始-->
	<div id="admin_right" class="content-wrapper">
		<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="home-icon fa fa-home"></i><a href="/system/index">系统</a></li>
				<li><a href="/system/admin/group_list">权限组列表</a></li>
				<li class="active">角色列表</li>
			</ul>
		</div>
		<div class="content">
			<form name='role_list' method='post' action='#'>
				<table class="table list-table">
					<colgroup>
						<col width="35px" />
						<col />
						<col width="120px" />
					</colgroup>
					<caption>
						<a class="btn btn-default" href='/system/admin/add_group'><i class="fa fa-plus"></i>添加角色</a>
						<a class="btn btn-default" id="selectAll"><i class="fa fa-check"></i>全选</a>
						<a class="btn btn-default" onclick="delModel({msg:'是否把信息放到回收站内？'});"><i class="fa fa-close"></i>批量删除</a>
					</caption>
					<thead>
					<tr>
						<th></th>
						<th>角色名称</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					<#list pageVo.list as list>
					<tr>
						<td><input type='checkbox' name='groupid' value='${list.id}' /></td>
						<td>${list.name}</td>
						<td>
							<a href='/system/admin/group_update/${list.id}'><i class='operator fa fa-edit'></i></a>
							<a  data-title="${list.name!}" data-id="${list.id}" class="group-delete"><i class="operator fa fa-trash" title="删除"></i></a>
							<a href="/system/admin/group_assignPermissions/${list.id}"><i class='operator fa fa-toggle-on'></i></a>
						</td>
					</tr>
					</#list>
					</tbody>
				</table>
				<div style="clear:both"><ul class="pagination">${pageVo.pageNumHtml}</ul></div>
			</form>
		</div>

	</div>
	<!--右侧内容 结束-->
</div>
<script type="text/javascript">seajs.use('permission', function(permission) {});</script>
</body>
</html>