<@fly_part name="header"/>
<div class="post-list">
<@fly_page_model model="${model.code}" p="${p!1}" rows="10">
<#if dataList?? && dataList?size gt 0>
<#list dataList as item>
<article class="post-item">
        <h2><a href="/${model.code}/${item.shortUrl}.html">${(item.title)!''}</a></h2>
        <div class="meta">${(item.createTime?substring(0,10))!''} · ${(item.author)!''}</div>
        <p>${(item.description)!''}</p>
    </article>
</#list>
<#else>
<p>暂无内容</p>
</#if>
<#if pageHtml?? && pageHtml != ''>${pageHtml}</#if>
</@fly_page_model>
    <p>暂无内容</p>
<!-- TODO[WP_PHP]: <?php endif; ?> -->
</div>
<@fly_part name="sidebar"/>
<@fly_part name="footer"/>
