<header class="main-header">
    <div class="logo">
        <span class="logo-mini"><b>Fly</b></span>
        <span class="logo-lg"><b>FlyShop</b>后台管理</span>
    </div>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only"></span>
        </a>

        <!--顶部菜单 开始-->
        <div id="menu" class="navbar-custom-menu">
            <ul class="nav navbar-nav" name="topMenu">
                <li><a hidefocus="true" href="/goods/goods_list">商品</a></li>
                <li><a hidefocus="true" href="/member/member_list">会员</a></li>
                <li><a hidefocus="true" href="/order/order_list">订单</a></li>
                <li><a hidefocus="true" href="/market/pro_rule_list">营销</a></li>
                <li><a hidefocus="true" href="/market/user_reg">统计</a></li>
                <li><a hidefocus="true" href="/system/default">系统</a></li>
                <li><a hidefocus="true" href="/tools/db_bak">工具</a></li>
                <li><a hidefocus="true" href="/plugins/plugin_list">插件</a></li>
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
        <!--顶部菜单 结束-->
    </nav>
</header>

<!--左侧菜单 开始-->
<aside id="admin_left" class="main-sidebar">
    <section class="sidebar" style="height: auto;">
        <div class="user-panel">
            <div class="pull-left image">
                <i class="fa fa-user"></i>
            </div>
            <div class="pull-left info">
                <p>${admin.adminName!}</p>
                <a href="#">超级管理员</a>
            </div>
        </div>

        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">营销模块菜单</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa" name="ico" menu="促销活动"></i>
                    <span>促销活动</span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu" name="leftMenu">
                    <li><a href="/market/pro_rule_list"><i class="fa fa-circle-o"></i>促销活动列表</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa" name="ico" menu="营销活动"></i>
                    <span>营销活动</span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu" name="leftMenu">
                    <li><a href="/market/cost_point_list"><i class="fa fa-circle-o"></i>积分兑换</a></li>
                    <li><a href="/market/pro_speed_list"><i class="fa fa-circle-o"></i>限时抢购</a></li>
                    <li><a href="/market/regiment_list"><i class="fa fa-circle-o"></i>团购</a></li>
                    <li><a href="/market/sale_list"><i class="fa fa-circle-o"></i>特价</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa" name="ico" menu="代金券管理"></i>
                    <span>代金券管理</span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu" name="leftMenu">
                    <li><a href="/market/ticket_list"><i class="fa fa-circle-o"></i>代金券列表</a></li>
                </ul>
            </li>

            <li class="header">快速导航</li>
            <li><a href="fdfdsf"><i class="fa fa-star-o"></i> <span>aaa</span></a></li>
        </ul>
    </section>
</aside>
<!--左侧菜单 结束-->