@charset "utf-8";
@import "/assets/js/vendors/bootstrap/css/bootstrap.min.css";
@import "/assets/admin-lte/css/AdminLTE.min.css";
@import "/assets/js/vendors/font-awesome/css/font-awesome.min.css";
@import "/assets/admin-lte/css/skins/_all-skins.min.css";

/* 通用样式 开始 */
.f-14 {
    font-size: 14px!important;
}
.img-thumbnail{cursor: pointer;}
.current{border:3px solid #3c8dbc}
.tips {
    margin-top: -15px;
    padding: 15px 10px 5px;
    z-index: 999999;
    font-size: 16px;
}
.tips ul {
    padding-left: 5px;
}
.tips ul li {
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    margin-right: 10px;
}
.word-wrap {
    word-wrap: break-word;
    word-break: break-all;
 }

.w-auto {
	width: auto!important;
	display:inline!important;
}
.mr-10{
    margin-right: 10px;
}

/* 主框架 开始 */
.user-panel>.image {
    font-size: 38px;
    color:#fff;
}

.user-panel>.info {
    padding-left: 5px
}

.control-sidebar-menu {
    margin: 0;
}

.control-sidebar-bg,
.control-sidebar {
    width: auto;
}

#content {
    background-color: #e9e9e9;
}
.timeline>li>.timeline-item {
    margin-left: 0px;
}
.timeline:before {
    content: none;
}
.table{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.tree-box{
    margin-top: 10px;
    padding: 8px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
/* 主框架 结束 */

/* 表格样式 开始 */
caption {
    padding-bottom: 15px;
    color: #777;
    text-align: left;
}

table caption form.form-inline{
	margin-top:10px;
}

table caption form.form-inline .input-group .form-control{
	width:100px;
}

table.table.list-table td{
	vertical-align: middle;
}

.table.form-table th{
    vertical-align: top;
    text-align: right;
}

.table.form-table>tbody>tr:first-child>td,.table.form-table>tbody>tr:first-child>th{
	border:none;
}

table.table.list-table th,table.table.form-table th{
	white-space: nowrap;
}

table.table.form-table td{
    word-wrap: break-word;
    word-break: break-all;
}

.table-responsive>table.table th,.table-responsive>table.table td{
	white-space: nowrap;
}

/* 表格样式 结束 */
/* 磁贴样式 开始 */
.info-box-text {
    font-size: 18px;
}
.info-box-number {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.65857;
    color: #3c8dbc;
    white-space: nowrap;
}
.info-box-number small {
    color: #666;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}
.info-box-icon .fa {
    line-height: 90px;
}
/* 磁贴样式 结束 */
/* 面包屑样式 开始 */
.breadcrumbs {
    position: relative;
    z-index: auto;
    border-bottom: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    min-height: 41px;
    line-height: 40px;
    padding: 0 12px 0 0;
}
.breadcrumb {
    background-color: transparent;
    line-height: 20px;
    margin: 10px 22px 0 12px;
    padding: 0;
    font-size: 13px;
    color: #333;
    border-radius: 0;
}
.breadcrumb>li, .breadcrumb>li.active {
    color: #555;
    padding: 0 3px;
}
.breadcrumb .home-icon {
    font-size: 20px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: top;
    text-align: center;
}

.breadcrumb>li>a {
    color: #4C8FBD;
}
.breadcrumb, .breadcrumb>li>a, .btn {
    display: inline-block;
}
/* 面包屑样式 结束 */
/* 选项卡样式 开始 */
.nav-tabs-custom>.nav-tabs>li.selected {
    border-top-color: #3c8dbc;
}
/* 选项卡样式 结束 */

.main-footer {
    margin-left: 0;
    background-color: rgba(0,0,0,0);
    text-align: center;
    bottom:0;
    position: absolute;
    left: 0;
    right:0;
    border-top: none;
    color: white;
    font-weight: normal;
}
.loginbox {
    width: 350px;
    box-shadow: none;
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: rgba(0,0,0,0);
    transform: translate(-50%, -50%);
}

.loginbox .input-group button {
    height: 48px;
    border: none;
}

.operator.fa{
	min-width:28px;
	font-size:20px;
}

.content{
	/*background-color:#fff;*/
}

.no-padding.table th,.no-padding.table td{
	padding:0;
}